.questionInputContainer {
    height: 120px;
    position: absolute;
    left: 6.5%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FFFFFF;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.14), 0px 0px 2px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
}

.questionInputTextArea {
    width: 100%;
    line-height: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 12px;
    margin-right: 12px;
}

.questionInputSendButtonContainer {
    position: absolute;
    right: 24px;
    bottom: 20px;
}

.questionInputSendButton {
    width: 24px;
    height: 23px;
}

.questionInputSendButtonDisabled {
    /* opacity: 0.4; */
    width: 24px;
    height: 23px;
    background: none;
    color: #424242;
}

.questionInputBottomBorder {
    position: absolute;
    width: 100%;
    height: 5px;
    left: 0%;
    bottom: 0%;
    background: radial-gradient(106.04% 106.06% at 100.1% 90.19%,#000000 33.63%,#fdd10b 100%);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.questionInputOptionsButton {
    cursor: pointer;
    width: 27px;
    height: 30px;
}

.questionInputMicrophoneButton {
    width: 24px;
    height: 23px;
    margin-right: 15px;
}

.questionInputRecordButton {
    width: 24px;
    height: 23px;
    margin-right: 15px;
}


@media (max-width: 480px) {
    .questionInputContainer {
        left: 16.5%;
    }
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.blinking {
    animation: blink 1s infinite;
}

.audioInputContainer {
    position: absolute;
    width: 55px;
    height: 55px;
    top: 118%;
    left: 50%;
}

.audioButtonStyle {
    position: absolute;
    width: 100%;
    height: 100%;
    margin-right: 15px
  }
  
.hiddenButtonContainer {
    position: absolute;
    width: 130px;
    height: 30px;
    top: 118%;
    left: 46.2%
}

.hiddenButtonStyle {
    position: absolute;
    top: 80px;
    width: 100%;
    height: 100%;
    margin-right: 15px
  }
  
.audioPlayerButtonStyle {
    width: 24px;
    height: 23px;
    margin-right: 10px
}